Django==5.2.3
dj-database-url==3.0.1
gunicorn==23.0.0
whitenoise==6.9.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
celery==5.4.0
redis==5.2.1
amqp==5.3.1
billiard==4.2.1
kombu==5.4.2
vine==5.1.0
django-timezone-field==7.1
python-crontab==3.2.0
Pillow==11.3.0
pandas==2.2.3
numpy==2.1.1
python-dateutil==2.9.0.post0
pytz==2025.1
sqlparse==0.5.3
requests==2.32.3
urllib3==2.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10